<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <listener>
    <listener-class>org.apache.commons.monitoring.web.discovery.GaugeDiscoveryListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.apache.commons.monitoring.web.servlet.MonitoringFilter</listener-class>
  </listener>

  <listener> <!-- to avoid leaks when deployed in a webapp -->
    <listener-class>org.apache.commons.monitoring.web.lifecycle.CommonsMonitoringLifecycle</listener-class>
  </listener>

  <filter>
    <filter-name>Reporting</filter-name>
    <filter-class>org.apache.commons.monitoring.reporting.web.MonitoringController</filter-class>
    <init-param> <!-- should match your filter mapping base -->
      <param-name>monitoring-mapping</param-name>
      <param-value>/monitoring/</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>monitoring-request</filter-name>
    <filter-class>org.apache.commons.monitoring.web.servlet.MonitoringFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>monitoring-request</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Reporting</filter-name>
    <url-pattern>/monitoring/*</url-pattern>
  </filter-mapping>
</web-app>
